body {
  background-color: rgb(185, 186, 230);
}

#main {
    text-align: center;
}

#title {
  font-weight: 100;
}

#img-div {
  text-align: center;
}

#image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#img-caption {
  font-style: italic;
}

h3 {
  font-weight: 300;
}

#timeline {
  text-align: left;
  background-color: rgba(117, 82, 223, 0.4);
  padding: 20px;
  border-radius: 20px;
}

#tribute-link {
  text-decoration: none;
}